/* Celebration display upon completing goal */
.complete {
  display: block;
}

/* Smaller media screens and mobile devices */
@media only screen and (max-width: 768px) {
  /* UI Display */

  .savingItem {
    font-size: 1.65rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
  }

  .savingAmount {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
  }

  /* Celebration display upon completion */
  .modal-completion {
    height: 92vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }

  .close-modal-btn {
    font-size: 2.3rem;
    color: white;
    position: absolute;
    top: 1.5vh;
    right: 1.5vh;
  }

  .modal-display {
    height: 50vh;
    width: 100vw;
    display: block;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-display::after {
    content: "";
    background: url(/img/modal-bkg.jpeg);
    background-size: cover;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0px;
    position: absolute;
    z-index: -1;
  }

  .modal-display p {
    height: 40vh;
    width: 100vw;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 5px 3px 5px black;
  }

  /* Animation for input fields */
  .input:hover {
    width: 75vw;
    border: 2.7px solid #5c5c5c;
  }

  @media only screen and (min-width: 1750px) {
    .input-container {
      height: 75%;
    }

    nav {
      width: 25vw;
    }

    .input {
      width: 60%;
    }

    .settings-container {
      width: 25vw;
    }

    .input:focus {
      width: 65%;
      border: 2px solid #5c5c5c;
    }

    .display {
      height: 15vh;
    }

    .background-img {
      height: 115px;
      width: 115px;
    }
  }

  /* JS Classes */

  /* Dark Mode Javascript */
  .dark-mode-btn.dark {
    transform: translateX(92%);
  }

  nav.dark {
    background-color: #292929;
  }

  .dark-mode-container.dark {
    background-color: lime;
  }

  .settings-container.dark {
    background-color: #292929;
    color: white;
  }

  input.dark {
    background-color: #9c9c9c;
    color: white;
  }

  input.dark::placeholder {
    color: white;
  }

  input.dark:hover {
    color: white;
  }

  /* Font Size */

  .fontCurrent {
    border-bottom: 2px solid #858585;
  }

  .modal-completion.open {
    opacity: 1;
    z-index: 15;
  }

  .close {
    display: none;
  }

  header.center {
    justify-content: center;
  }
}
