/* Celebration display upon completing goal */
.complete {
  display: block;
}

/* Smaller media screens and mobile devices */
@media only screen and (max-width: 768px) {
  /* UI Display */

  .savingItem {
    font-size: 1.65rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
  }

  .savingAmount {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
  }

  /* Animation for input fields */
  .input:hover {
    width: 75vw;
    border: 2.7px solid #5c5c5c;
  }

  @media only screen and (min-width: 1750px) {
    .input-container {
      height: 75%;
    }

    nav {
      width: 25vw;
    }

    .input {
      width: 60%;
    }

    .settings-container {
      width: 25vw;
    }

    .input:focus {
      width: 65%;
      border: 2px solid #5c5c5c;
    }

    .display {
      height: 15vh;
    }

    .background-img {
      height: 115px;
      width: 115px;
    }
  }

