.nav {
  height: 92vh;
  width: 30vw;
  position: absolute;
  top: 8vh;
  right: 0;
  background: #d4d4d4;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
  color: white;

  &__input-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__clear-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input-goals {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__deposit-amount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__total-deposit {
    font-size: 1.4rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }

  &__btn {
    width: 10vw;
    height: 32.5px;
    border-radius: 35px;
    font-size: 1rem;
    background: #55bd71;
    border: 2px solid #3e7a4e;
    color: white;
    letter-spacing: 0.18rem;
    outline: none;
    cursor: pointer;
    transition: 0.35s;
  }
}

.input {
  margin: 8px;
  width: 70%;
  height: 35px;
  font-size: 1rem;
  padding: 10px;
  border: 1.5px solid gray;
  border-radius: 35px;
  outline: none;
  transition: 0.35s;
}

#clear-storage {
  height: 45px;
  width: 12vw;
  border-radius: 40px;
}
